<!DOCTYPE html>
<html lang="en">
<head>
    <title>French Intermediate</title>
    <link rel="stylesheet" href="page.css">
</head>
<body>
    <%- include('header'); %>

    <h1><%=name %></h1>

    <h2><%=level %></h2>

    <h3>Students</h3>

    <table width="400px">
        <tr><th>Name</th> <th>Age</th> <th>Profession</th></tr>
        <% for(let i = 0; i < students.length; i++) { %>
           <tr><td><%=students[i].name%></td> <td><%=students[i].age%></td> <td><%=students[i].profession%></td></tr> 
        <% } %>
    </table>
 
</body>
</html>