<!DOCTYPE html>
<html lang="en">

<head>
    <title><%=className %> <%=level %></title>
    <link rel="stylesheet" href="/page.css">
    <link rel="stylesheet" href="/class.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <%- include('header'); %>

    <!-- Add Student Form -->

    <div class = "popupbg">
        <form id = "addStudentForm" method="POST" action="/addstudent/<%=_id %>" enctype = "multipart/form-data">

            <h2>Add Student</h2>

            <label for = "firstName">First Name</label>
            <input type = "text" name = "firstName">

            <label for = "lastName">Last Name</label>
            <input type = "text" name = "lastName">

            <label for = "DOB">Date of Birth</label>
            <input type = "date" name = "DOB">

            <label for = "address">Address</label>
            <input type = "text" name = "address">

            <label for = "city">City</label>
            <input type = "text" name = "city">

            <label for = "country">Country</label>
            <input type = "text" name = "country">

            <label for = "image">Passport Photo: </label>
            <input type = "file" name = "image">


            <div style="display: flex; justify-content: flex-end; margin-top: 15px; gap: 10px;">
                <button id ="student-cancel" class="cancel-button" type="button">Cancel</button>
                <button type = "submit">Create</button>
            </div>
        </form>
    </div>

    <!-- Lesson form -->

    <div class = "popupbg">
        <form id = "addLessonForm" method="POST" action="/addlesson/<%=_id %>" autocomplete="off">

            <h2>Add Lessons</h2>

            <label for = "name">Lesson Name</label>
            <input type = "text" name = "lessonName">

            <label for = "textarea">Lesson Details</label>
            <textarea name = "textarea"></textarea>

            <label for = "lessonDate">Lesson Date</label>
            <input type = "date" name = "lessonDate">

            
            <div style="display: flex; justify-content: flex-end; margin-top: 15px; gap: 10px;">
                <button id = "lesson-cancel" class="cancel-button" type="button">Cancel</button>
                <button type = "submit">Create</button>
            </div>
        </form>
    </div>

    <main>
        <h1><%= className %></h1> 
        <h1><%= level %></h1>  
        
        <div class="section-header">
            <h2>Lessons</h2> <button style="font-size:1.5em" id="addLesson" class="icon-button"><i class="fa fa-plus fa-fw"></i></button>
        </div>

        <!-- List of lessons in this class -->

        <div class = "lessons">

            <% for (lesson of lessons) { %>
                <details>
                    <summary><%= lesson.lessonName %></summary>
                    <p><%= lesson.textarea %></p>
                    <a href = "lesson/<%= lesson._id %>"><small>Go to lesson</small></a> 
                </details>
            <% } %>
            

        </div>
        

        <div class="section-header">
            <h2>Students</h2> <button style="font-size:1.5em" id="addStudent" class="icon-button"><i class="fa fa-user-plus fa-fw"></i></button>
        </div>
        
        <!-- List of students of the class -->

        <div class = "students">
            

                <% for (student of students) { %>
                <div class = "student"><a href = "student/<%= student._id %>"><%= student.firstName %> <%= student.lastName %></a></div> 
                <% } %>

        </div>

        <div class="section-header">
            <h2>Attendance at a glance</h2>
        </div>

        <table>
            <thead>
                <tr>
                    <th>#</th>
                    <% for(lesson of lessons) { %>
                        <th><%= lesson.lessonName %> </th>
                    <% } %> 
                </tr>
               
            </thead>
            
            <% for(student of students) { %>
                <tr>
                    <th><%=student.firstName %> <%=student.lastName %></th>
                    <% for(lesson of lessons) { %>
                        <% if (lesson.attendance.includes(student._id)) { %>
                            <td>✔️</td>
                        <% } else { %>
                            <td>❌</td>
                        <% } %> 
                    <% } %>
                </tr>
            <% } %>
            
        </table>
    </main>
    
    <script>

        
        const addStudent = document.querySelector('#addStudent');
        const addLesson = document.querySelector('#addLesson');

        const addStudentForm = document.querySelector('#addStudentForm');
        const addLessonForm = document.querySelector('#addLessonForm');
        
       
        const popupbg = document.querySelectorAll('.popupbg');
        const cancelButtons = document.querySelectorAll('.cancel-button');

        addStudent.addEventListener("click", e => {
            addStudentForm.parentElement.style.display = "flex";
        });

        addLesson.addEventListener('click', e=>{
            addLessonForm.parentElement.style.display= "flex";
            console.log('hello')
        });

        cancelButtons.forEach(button => {
            button.addEventListener('click', e => {
                console.log('wtf');
                e.target.parentElement.parentElement.parentElement.style.display = 'none';
            });
        });
        
        window.addEventListener('click', e=>{
            popupbg.forEach(popup => {
                if(e.target == popup){
                    popup.style.display = "none";
                }
            });
        })

    </script>
 
</body>
</html>