<!DOCTYPE html>
<html lang="en">
<head>
    <title><%=className %> <%=level %></title>
    <link rel="stylesheet" href="/page.css">
    <link rel="stylesheet" href="/class.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <%- include('header'); %>

    <main>
        <h1><%=className %> <%=level %></h1>
        
        <h2>Lessons</h2>


        <div style="display: flex; justify-content: space-between; align-items: center;">
            <h2>Students</h2> <i style="font-size: 1.3em; margin-left: 10px;" class="fa fa-user-plus"></i></i>
        </div>
        
        <div class="students">
            

                <% for(let i = 0; i < students.length; i++) { %>
                <div class="student"><span><%=students[i].name%></span> <span><%=students[i].age%></span> <span><%=students[i].profession%></span></div> 
                <% } %>

        </div>

       

    </main>
    
 
</body>
</html>