<!DOCTYPE html>
<html lang="en">

<head>
    <title><%= myClass.className %> <%= myClass.level %> </title>
    <link rel="stylesheet" href="/page.css">
    <link rel="stylesheet" href="/class.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <%- include('header'); %>

    <div class = "studentSpace">
        <form id = "Student" action = "/addStudent" method = "POST">

            <h2>Add Student</h2>

            <label for = "firstName">First Name</label>
            <input type = "text" name = "firstName">

            <label for = "lastName">Last Name</label>
            <input type = "text" name = "lastName">

            <label for = "DOB">Date of Birth</label>
            <input type = "date" name = "DOB">

            <label for = "address">Address</label>
            <input type = "text" name = "address">

            <label for = "city">City</label>
            <input type = "text" name = "city">

            <label for = "country">Country</label>
            <input type = "text" name = "country">

            <div style="display: flex; justify-content: flex-end; margin-top: 15px;">
                <button id = "student-cancel">Cancel</button>
                <button type = "submit">Create</button>
            </div>

            
        </form>
    </div>

    <main>
        <h1><%= myClass.className %></h1> 
        <h1><%= myClass.level %></h1>  
        
        <h3>Lessons</h3>


        <div style="display: flex; justify-content: space-between; align-items: center;">
            <h2>Students</h2> <i style="font-size: 1.3em; margin-left: 10px;" class = "fa fa-user-plus"></i>
        </div>
        
        <div class="students">
            

            

        </div>

       

    </main>
    
    <script>

        const addStudent = document.querySelector("i");
        const cancel2 = document.querySelector("#student-cancel");
        const Student = document.querySelector(".studentSpace");


        // add student cancel button
        cancel2.addEventListener("click", e => {
            e.preventDefault();
            Student.style.display = "none";
        });

        // activates add student form
        addStudent.addEventListener("click", e => {
            Student.style.display = "flex";
        })
        
    </script>
 
</body>
</html>