<!DOCTYPE html>
<html lang="en">

<head>
    <title><%=className %> <%=level %></title>
    <link rel="stylesheet" href="/page.css">
    <link rel="stylesheet" href="/class.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <%- include('header'); %>

    <!-- Add Student Form -->

    <div class = "popupbg">
        <form id = "addStudentForm" method="POST" action="/addstudent/<%=_id %>">

            <h2>Add Student</h2>

            <label for = "firstName">First Name</label>
            <input type = "text" name = "firstName">

            <label for = "lastName">Last Name</label>
            <input type = "text" name = "lastName">

            <label for = "DOB">Date of Birth</label>
            <input type = "date" name = "DOB">

            <label for = "address">Address</label>
            <input type = "text" name = "address">

            <label for = "city">City</label>
            <input type = "text" name = "city">

            <label for = "country">Country</label>
            <input type = "text" name = "country">

            <div style="display: flex; justify-content: flex-end; margin-top: 15px;">
                <button id = "student-cancel">Cancel</button>
                <button type = "submit">Create</button>
            </div>
        </form>
    </div>

    <!-- Lesson form -->

    <div class = "popupbg">
        <form id = "addLessonForm" method="POST" action="/addlesson/<%=_id %>" autocomplete="off">

            <h2>Add Lessons</h2>

            <label for = "name">Lesson Name</label>
            <input type = "text" name = "lessonName">

            <label for = "chapter">Chapter</label>
            <input type = "text" name = "chapter">

            <label for = "lessonPages">Lesson Pages</label>
            <input type = "text" name = "lessonPages">

            <label for = "lessonDate">Lesson Date</label>
            <input type = "date" name = "lessonDate">

            
            <div style="display: flex; justify-content: flex-end; margin-top: 15px;">
                <button id = "student-cancel">Cancel</button>
                <button type = "submit">Create</button>
            </div>
        </form>
    </div>

    <main>
        <h1><%= className %></h1> 
        <h1><%= level %></h1>  
        
        <div style="display: flex; justify-content: space-between; align-items: center;">
            <h2>Lessons</h2> <button id="addLesson"><i style="font-size: 1.3em; margin-left: 10px;" class="fa fa-plus"></i></button>
        </div>

        <!-- List of lessons in this class -->

        <div class = "lessons">

            <% for (lesson of lessons) { %>
                <div class = "lesson"><a href = "lesson/<%= lesson._id %>"><%= lesson.lessonName %></a> </div>
            <% } %>
            

        </div>
        

        <div style="display: flex; justify-content: space-between; align-items: center;">
            <h2>Students</h2> <button id="addStudent"><i style="font-size: 1.3em; margin-left: 10px;" class="fa fa-user-plus"></i></button>
        </div>
        
        <!-- List of students of the class -->

        <div class = "students">
            

                <% for (student of students) { %>
                <div class = "student"><a href = "student/<%= student._id %>"><%= student.firstName %> <%= student.lastName %></a>"</div> 
                <% } %>

        </div>

    </main>
    
    <script>

        
        const addStudent = document.querySelector('#addStudent');
        const addLesson = document.querySelector('#addLesson');

        const addStudentForm = document.querySelector('#addStudentForm');
        const addLessonForm = document.querySelector('#addLessonForm');
        
       
        const popupbg = document.querySelectorAll('.popupbg');

        
       

        addStudent.addEventListener("click", e => {
            addStudentForm.parentElement.style.display = "flex";
        });

        addLesson.addEventListener('click', e=>{
            addLessonForm.parentElement.style.display= "flex";
            console.log('hello')
        });


        window.addEventListener('click', e=>{
            popupbg.forEach(popup => {
                if(e.target == popup){
                    popup.style.display = "none";
                }
            });
        })

    </script>
 
</body>
</html>