


<head>
    <%= lessonName %>
</head>

<header>

</header>

<body>

    <h1><%= lessonName %></h1>
    <h2><%= chapter %></h2>
    <h2><%= lessonPages %></h2>
    <h2><%= lessonDate %></h2>


    

</body>

