


<head>
    <link rel="stylesheet" href="/page.css">
    <link rel="stylesheet" href="/lesson.css">
    <title><%= result.lessonName %></title>
</head>


<body>
    <%- include('header'); %>
    <main>
        <h1><%= result.lessonName %></h1>
        <small><%= result.lessonDate %></small>

        <h2>Lesson Details</h2>
        <p>Chapter: <%= result.chapter %> <br>
            Pages: <%= result.lessonPages %></p>
        
        
        <h2>Students</h2>

        <button type = "submit">OK</button>
        
        <div class="students">
            <% for (student of students) { %>
    
                <div class="student"><span><%= student.firstName %> <%= student.lastName %></span><input type = "checkbox"></div>
            
            <% } %>
        </div>

        <h2>Present</h2>

        <div class = "present">

        </div>
       
    </main>

    <script>
        var buttton = document.querySelector("button");
        var presentStudents = document.querySelector(".present");
        
        
    </script>
    


    

</body>

