


<head>
    <%= result.lessonName %>
</head>

<header>

</header>

<body>

    <h1><%= result.lessonName %></h1>
    <h2><%= result.chapter %></h2>
    <h2><%= result.lessonPages %></h2>
    <h2><%= result.lessonDate %></h2>

    <% for (student of students) { %>

        <h2><%= student.firstName %></h2>
    
    <% } %>


    

</body>

