


<head>
    <link rel="stylesheet" href="/page.css">
    <link rel="stylesheet" href="/lesson.css">
    <title><%= result.lessonName %></title>
</head>


<body>
    <%- include('header'); %>
    <main>
        <h1><%= result.lessonName %></h1>
        <small><%= result.lessonDate %></small>

        <h2>Lesson Details</h2>
        <p>Chapter: <%= result.chapter %> <br>
            Pages: <%= result.lessonPages %></p>
        
        
        <h2>Students</h2>
        <div class="students">
            <% for (student of students) { %>
    
                <div class="student"><span><%= student.firstName %> <%= student.lastName %></span></div>
            
            <% } %>
        </div>
       
    </main>
    


    

</body>

