<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="/page.css">
    <link rel="stylesheet" href = "/student.css">
    <title><%= student.firstName  %> <%= student.lastName  %></title>
</head>

<header>

    <%- include('header'); %>

</header>

<body>
    
    <main>
        <div id = "info">
            <h1><%= student.firstName  %> <%= student.lastName  %></h1>

            <h2>Date of Birth: <%= student.DOB %></h2>

            <h2>Address</h2><br>
            <address>
                <%= student.address %> <br>
                <%= student.city %> <br>
                <%= student.country %>
            
            </address><br><br>

            <h2>Attendance</h2><br>
            
            <div id = "attendance">
                <i><%= attendance %>%</i>
            </div>
            
                    
        </div>
        

        <div id = "image">  
            <img src = "data:<%= student.image.mimetype %>;base64, <%= student.image.data.toString('base64') %>  " width = "300" alt = "pic" style>
        </div>

    </main>

    

</body>