<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="/page.css">
    <link rel="stylesheet" href = "/student.css">
    <title><%= student.firstName  %> <%= student.lastName  %></title>
</head>

<header>

    <%- include('header'); %>

</header>

<body>
    
    <main>
        <div id = "info">
            <h1><%= student.firstName  %> <%= student.lastName  %></h1>

            <h2>Date of Birth: <%= student.DOB %></h2>

            <h2>Address</h2><br>
            <address>
                <%= student.address %> <br>
                <%= student.city %> <br>
                <%= student.country %>
            
            </address>

        </div>
        

        <div id = "image">  
            <img src = "/Student-photos/<%=student.image%>" width = "300" alt = "pic" style>
        </div>

        <div>
            
        </div>

    </main>

    

</body>