<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="/page.css">
</head>

<body>
    <%- include('header'); %>
    <main>
        <h1><%= firstName  %> <%= lastName  %></h1>

        <div>
            <%= image %>
        </div> 

        <h2>Date of Birth: <%= DOB %></h2>

        <h2>Address</h2><br>
        <address>
            <%= address %> <br>
            <%= city %> <br>
            <%= country %>
            
        </address>
    </main>
   
</body>